<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" th:href="@{/img/favicon.ico}" href="img/favicon.ico">

  <title>Lottoringo Dashboard</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" >
  <link  th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" >

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin-2.min.css}" href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/dashboard}" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <img th:src="@{/img/icono.png}" src="img/icono.png" width="50px">
        </div>
        <div class="sidebar-brand-text mx-3">Lottoringo</div>
      </a>


      
      <div class="sidebar-heading">
        MENÚ
      </div>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/dashboard}" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa fa-users"></i>
            <span>Users</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" th:href="@{/applications}" href="users-app.html"><span><i class="fas fa-mobile-alt"></i></span> Aplications</a>
              <a class="collapse-item" th:href="@{/administrations}" href="users-admin.html"><span><i class="fas fa-users-cog"></i></span> Administrator</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - Raffes  Menu -->


        <li class="nav-item">
          <a class="nav-link" th:href="@{/raffles}" href="raffles.html">
           <i class="fa fa-cubes"></i>
           <span>Raffles</span>
         </li>

         <!-- Divider -->
         <hr class="sidebar-divider">

         <!-- Nav Item - Pages Collapse Menu -->
         <li class="nav-item">
          <a class="nav-link collapsed" th:href="@{/winners}" href="winners.html">
            <i class="fa fa-trophy"></i>
            <span>Winners</span>
          </a>

        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/notifications}" href="send-noti.html">
            <i class="fas fa-comments"></i>
            <span>Send Notificactions</span></a>
          </li>

          <!-- Nav Item - Tables -->

          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>



              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter" th:text="${cantidadGanadoresPagosPendiente}">0+</span>
                  </a>
                  
                  <!-- Dropdown - Alerts -->
                  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                      Alerts Center
                    </h6>
                   <a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-primary">
                          <i class="fas fa-file-alt text-white"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500" th:text="${#calendars.format(fechaActual,'MMMM dd,yyyy')}">December 12, 2019</div>
                        <span class="font-weight-bold">Welcome to the job...!!!</span>
                      </div>
                    </a>
                    <a th:if="${cantidadGanadoresPagosPendiente > 0}" class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-success">
                          <i class="fas fa-donate text-white"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500" th:text="${#calendars.format(fechaActual,'MMMM dd,yyyy')}">December 7, 2019</div>
                        <p th:inline="text">[[${cantidadGanadoresPagosPendiente}]] Pending payments</p>
                      </div>
                    </a>
                    <a th:if="${sinCuentaPaypal > 0}" class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-warning">
                          <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500" th:text="${#calendars.format(fechaActual,'MMMM dd,yyyy')}">December 2, 2019</div>
                         <p th:inline="text">[[${sinCuentaPaypal}]] Users without paypal account</p>
                      </div>
                    </a>
                    
                    <a class="dropdown-item text-center small text-gray-500" th:href="@{/winners}" href="winners.html">Show All Alerts</a>
                  </div>
                  
                </li>
                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${RolUsuario}">Rol User</span>
                    <img class="img-profile rounded-circle" th:src="@{${FotoPefil}}" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      <h8 class="mb-5" th:text="${Usuario}" align="center" >User</h8>
                    </a>
                    <a class="dropdown-item" th:href="@{/reset}" href="update-pass.html">
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Update Password
                    </a>


                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Sign Out..!!!
                    </a>
                  </div>
                </li>

              </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

              <!-- Page Heading -->


              <!-- Content Row -->
              <div class="row">

                <!-- Users Card E -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-sm font-weight-bold text-danger text-uppercase mb-1">Users</div>
                          <div class="h4 mb-0 font-weight-bold text-gray-800" th:text="${Participantes}">0</div>
                        </div>
                        <div class="col-auto">
                          <i class="fa fa-users fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Raffles Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Raffles</div>
                          <div class="h4 mb-0 font-weight-bold text-gray-800" th:text="${TotalSorteos}">0</div>
                        </div>
                        <div class="col-auto">
                          <i class="fa fa-cubes fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Winners Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-sm font-weight-bold text-warning text-uppercase mb-1">Winners</div>
                          <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                              <div class="h4 mb-0 mr-3 font-weight-bold text-gray-800" th:text="${TotalGanadores}">0</div>
                            </div>
                       <!-- <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div><-->
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-trophy fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Notifications Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-sm font-weight-bold text-info text-uppercase mb-1">Notificaciones</div>
                      <div class="h4 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span> &copy; 2019 Lottoringo.</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <form name="salida" th:action="@{/logout}" method="post" id="formulario1"> </form>	
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <!--           <a class="btn btn-primary" href="">Cerrar Sesión</a> -->
          <button class="btn btn-primary" type="submit" form="formulario1" value="Submit">Logout</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}" src="vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}" src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}" src="js/sb-admin-2.min.js"></script>

  <!--   <!-- Page level plugins --> 
  <!--   <script src="vendor/chart.js/Chart.min.js"></script> -->

  <!--   <!-- Page level custom scripts --> 
  <!--   <script src="js/demo/chart-area-demo.js"></script> -->
  <!--   <script .src="js/demo/chart-pie-demo.js"></script> -->

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="/__/firebase/6.1.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
 https://firebase.google.com/docs/web/setup#reserved-urls -->

 <!-- Initialize Firebase -->
 <script src="/__/firebase/init.js"></script>

</body>

</html>
