<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="img/favicon.ico">

  <title>Lottoringo Login</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link href="css/imagenes.css" rel="stylesheet">

</head>

<body id="fondo_login">
<script type="text/javascript">
	    function cifrar(){
		    document.getElementById('password').value = SHA512(document.getElementById('password').value);
		}
	  	
</script>

  <div class="container">

    <!-- Outer Row -->
    

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->

            <div class="row">
            	
              <div class="col-lg-6 d-none d-lg-block" style="background-image: url(img/icono2.png); background-repeat: no-repeat;"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">
                    <p>Login</p>
                    
                    </h1>
                  </div>
                  
                  <form class="user" th:action="@{/login}" method="POST">
                  	<div th:if="${param.error}">
					   <div class="alert alert-danger">
					    Usuario o Contraseña Incorrecta...!!!
					   </div>
				   </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" name="username" id="username" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
<!--                     <a href="index.html" class="btn btn-primary btn-user btn-block"> -->
<!--                       Login -->
<!--                     </a> -->
                    <input class="btn btn-primary btn-user btn-block" type="submit" value="Ingresar" onclick="cifrar();">
                    </form>
                    
                  <hr>
                  <div class="text-center">
                    <a class="small" th:href="@{/recovery}" href="forgot-password.html">¿forgot password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" th:href="@{/new-user}" href="register.html">New Account.!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
  
  <script th:src="@{/js/sha512.js}" src="js/sha512.js"></script> 

</body>

</html>
