<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="img/favicon.ico">

  <title>Lottoringo Update Pass</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body style="background-image: url(img/1.jpg);">
  <script type="text/javascript">
   function cifrar(){
    document.getElementById('clave1').value = SHA512(document.getElementById('clave1').value);
    document.getElementById('clave2').value = SHA512(document.getElementById('clave2').value);
  }
  
</script>

<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-6 d-none d-lg-block" style="background-image: url(img/icono2.png); background-repeat: no-repeat;"></div>
        <div class="col-lg-6">
          <div class="p-5">
            <div class="text-center">

              <h1 class="h4 text-gray-900 mb-2">Update Password!</h1>
              <hr>
            </div>
            <form class="user" th:action="@{/update/password}" method="POST">
              <div th:if="${param.error}">
                <div class="alert alert-danger">
                 <span th:text="${param.mensaje}">Error</span>
               </div>
             </div>
             <div class="form-group">
              <input type="password" class="form-control form-control-user" id="clave1" name="clave1" placeholder="Password" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-user" id="clave2" name="clave2" placeholder="Repeat Password" required>
            </div>
            <button class="btn btn-lg btn-primary btn-user btn-block" type="submit" >Update Password</button>
            <!--                 <a th:href="@{/login}" href="login.html" class="btn btn-primary btn-user btn-block"> -->
              <!--                   Register Account -->
              <!--                 </a> -->
              
            </form>
            <hr>
            <div class="text-center">
             <br><br>
           </div>
           
         </div>
       </div>
     </div>
   </div>
 </div>
</div>

<script th:src="@{/js/sha512.js}" src="js/sha512.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>

</html>
