<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link rel="icon" href="img/favicon.ico">

  <title>Users Admin Lottoringo</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
	
	<script type="text/javascript">
	
	
		function cifrar(){
	    	document.getElementById('claveNuevo').value = SHA512(document.getElementById('claveNuevo').value);
		}
		
		function crearNuevo(){
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			this.cifrar();
			
			var nombreUsuario = $("#nombreNuevo").val();
			var segundoUsuario = $("#segundoNombreNuevo").val();
			var telefonoUsuario = $("#telefonoNuevo").val();
			var correoUsuario = $("#emailNuevo").val();
			var claveUsuario = $("#claveNuevo").val();
			
			$.ajax({
                type: "POST",
                url: window.location.href,
                data: {nombre:nombreUsuario,
                	   segundoNombre:segundoUsuario,
                	   telefono:telefonoUsuario,
                	   correo:correoUsuario,
                	   clave:claveUsuario},
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function(data, textStatus, jqXHR) {                	
                	alert("Processed Information.");
                	window.location.replace(window.location.href);
                },
                error: function(request, status, error) {
                    alert("Process impossible to complete.");
                }
            });	
			
		}
	
		
	
		function actualizarAdmin(estado, id){
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			var correo = $("#correo"+id).text();
			var nombreUsuario = $("#nameAdmin"+id).val();
			var segundoUsuario = $("#lastNameAdmin"+id).val();
			
			switch(estado){
			case 0:
				$.ajax({
	                type: "DELETE",
	                url: window.location.href,
	                data: {correoElectronico:correo},
	                beforeSend: function(xhr) {
	                    xhr.setRequestHeader(header, token);
	                },
	                success: function(data, textStatus, jqXHR) {
	                	
	                	$( "#carta"+id ).remove();
	                	alert("Processed Information.");
	                	
	                },
	                error: function(request, status, error) {
	                    alert("Process impossible to complete.");
	                }
	            });
				break;
			case 1:
				$.ajax({
	                type: "PUT",
	                url: window.location.href,
	                data: {nombre:nombreUsuario, segundoNombre:segundoUsuario, correoElectronico:correo},
	                beforeSend: function(xhr) {
	                    xhr.setRequestHeader(header, token);
	                },
	                success: function(data, textStatus, jqXHR) {
	                	$( "#nombreUsuario"+id ).html( nombreUsuario+" "+segundoUsuario );
	                	alert("Processed Information.");
	                	
	                	window.location.replace(window.location.href);
	                },
	                error: function(request, status, error) {
	                    alert("Process impossible to complete.");
	                }
	            });	
				break;
			case 2:
				break;
			default:
				alert("Nothing.");
				break;
			
			}
			
		
		}
	
	
	</script>




  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/dashboard}" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="img/icono.png" width="50px">
        </div>
        <div class="sidebar-brand-text mx-3">Lottoringo</div>
      </a>

      <!-- Heading -->
      <div class="sidebar-heading">
       Menú
     </div>

     <!-- Divider -->
     <hr class="sidebar-divider my-0">

     

     <!-- Nav MENU Item - Dashboard -->
     <li class="nav-item">
      <a class="nav-link" th:href="@{/dashboard}" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
      </li>

      
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
         <i class="fa fa-users"></i>
         <span>Users</span>
       </a>
       <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" th:href="@{/applications}" href="users-app.html"><span><i class="fas fa-mobile-alt"></i></span> Aplications</a>
          <a class="collapse-item" th:href="@{/administrations}" href="users-admin.html"><span><i class="fas fa-users-cog"></i></span> Administrator</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Raffes  Menu -->

    <li class="nav-item">
      <a class="nav-link" th:href="@{/raffles}" href="raffles.html">
       <i class="fa fa-cubes"></i>
       <span>Raffles</span>
     </li>

     <!-- Divider -->
     <hr class="sidebar-divider">

     <!-- Nav Item - Pages Collapse Menu -->
     <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/winners}" href="winners.html">
        <i class="fa fa-trophy"></i>
        <span>Winners</span>
      </a>

    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" th:href="@{/notifications}" href="send-noti.html">
        <i class="fas fa-comments"></i>
        <span>Send Notifications</span></a>
      </li>

      

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>



          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter" th:text="${cantidadGanadoresPagosPendiente}">0+</span>
                  </a>
                  
                  <!-- Dropdown - Alerts -->
                  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                      Alerts Center
                    </h6>
                   <a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-primary">
                          <i class="fas fa-file-alt text-white"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500" th:text="${#calendars.format(fechaActual,'MMMM dd,yyyy')}">December 12, 2019</div>
                        <span class="font-weight-bold">Welcome to the job...!!!</span>
                      </div>
                    </a>
                    <a th:if="${cantidadGanadoresPagosPendiente > 0}" class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-success">
                          <i class="fas fa-donate text-white"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500" th:text="${#calendars.format(fechaActual,'MMMM dd,yyyy')}">December 7, 2019</div>
                        <p th:inline="text">[[${cantidadGanadoresPagosPendiente}]] Pending payments</p>
                      </div>
                    </a>
                    <a th:if="${sinCuentaPaypal > 0}" class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-warning">
                          <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500" th:text="${#calendars.format(fechaActual,'MMMM dd,yyyy')}">December 2, 2019</div>
                         <p th:inline="text">[[${sinCuentaPaypal}]] Users without paypal account</p>
                      </div>
                    </a>
                    
                    <a class="dropdown-item text-center small text-gray-500" th:href="@{/winners}" href="winners.html">Show All Alerts</a>
                  </div>
                  
                </li>


            <!-- Nav Item - User Information -->
             <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${RolUsuario}">Rol User</span>
                    <img class="img-profile rounded-circle" th:src="@{${FotoPefil}}" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      <h8 class="mb-5" th:text="${Usuario}" align="center" >User</h8>
                    </a>
                    <a class="dropdown-item" th:href="@{/reset}" href="update-pass.html">
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Update Password
                    </a>


                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Sign Out..!!!
                    </a>
                  </div>
                </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Users (Admin)</h1>
          </div>

          <div class="row">


            <!--  Card. Agregar nuevo usuario como admin -->
            <div th:if="${#strings.equals(RolUsuario, 'Jefe')}" class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body" style="height:100px;">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Add User</div>
                      <div class="h8 mb-0 font-weight-bold text-gray-800">newuser@gmail.com</div>
                    </div>
                    <div class="col-auto">
                      <a href="#"><img src="img/faces/fbase.png" class="mr-2" alt="image" style="width:100px;height:100px"></a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Button to Open the Modal -->
            <button th:if="${#strings.equals(RolUsuario, 'Jefe')}" 
            type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalNuevoUsuario">
            <span><i class="fas fa-plus"></i></span>
          </button>

          <!-- Modal -->
          <div class="modal" id="myModalNuevoUsuario">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Register Admin</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                 <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="nombreNuevo" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="segundoNombreNuevo" placeholder="LastName">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="telefonoNuevo" placeholder="Phone">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="emailNuevo" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="Password" class="form-control form-control-user" id="claveNuevo" placeholder="Password">
                </div>
              </div>
              <!-- Fin Modal body -->

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> 
                <button type="button" class="btn btn-info" data-dismiss="modal" onclick="crearNuevo();">Create</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Administrandores registrados -->
        <!-- Card div admin2 -->

        <div th:each="jefes : ${listaAdministradores}" class="col-xl-3 col-md-6 mb-4">
          <div th:id="${#strings.concat('carta',jefes.idAutenticacion)}" class="card border-left-success shadow h-100 py-2">
            <div class="card-body">

              <div class="row no-gutters align-items-center">

                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1" th:id="${#strings.concat('nombreUsuario',jefes.idAutenticacion)}" th:text="${jefes.usuarios.nombreUsuario}">Jhon Doe</div>
                  <div class="h8 mb-0 font-weight-bold text-gray-800" th:id="${#strings.concat('correo',jefes.idAutenticacion)}" th:text="${jefes.usuarios.correo}">jhon.doe@gmail.com</div>
                </div>

                <div class="col-auto">
                  <a href="#"><img th:src="@{${jefes.usuarios.imagen}}" src="img/faces/fbase.png" class="mr-2" alt="image" style="width:100px;height:100px"></a>
                </div>

                <div  th:if="${#strings.equals(RolUsuario, 'Jefe') || #strings.equals(Usuario, jefes.usuarios.nombreUsuario)}"
                class="col-auto">            
                <div>
                 <!-- Button to Open the Modal -->
                 <button  type="button" class="btn btn-info" data-toggle="modal" th:attr="data-target='#myModal'+${jefes.idAutenticacion}" data-target="#myModal2" >
                  <span><i class="far fa-edit"></i></span>
                </button>
              </div>

              <!-- Fommato modal -->
              <div class="modal" th:id="${#strings.concat('myModal',jefes.idAutenticacion)}" id="myModal2">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <!-- Modal Header -->
                   <div class="modal-header">
                     <h4 class="modal-title">Update Admin</h4>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                   </div>

                   <!-- Modal body -->
                   <div class="modal-body">
                     <div class="form-group">
                       <input type="text" class="form-control form-control-user" th:id="${#strings.concat('nameAdmin',jefes.idAutenticacion)}" placeholder="Name">
                     </div>
                     <div class="form-group">
                       <input type="text" class="form-control form-control-user" th:id="${#strings.concat('lastNameAdmin',jefes.idAutenticacion)}" placeholder="LastName">

                     </div>
                     <!-- Fin Modal body -->

                     <!-- Modal footer -->
                     <div class="modal-footer">
                       <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> 
                       <button type="button" class="btn btn-primary" data-dismiss="modal" th:onclick="'javascript:actualizarAdmin(1,'+${jefes.idAutenticacion}+');'">Update</button> 
                       <button th:if="${#strings.equals(jefes.roles.tipo, 'Administrador') && 
                       				    #strings.equals(RolUsuario, 'Jefe')}"
                       		   type="button" class="btn btn-info" data-dismiss="modal"    th:onclick="'javascript:actualizarAdmin(0,'+${jefes.idAutenticacion}+');'">Delete</button>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div> 		
         </div>
       </div>
     </div>
   </div>
   <!-- Modal -->

 </div>
 <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<br><br><br><br>
<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span> &copy; 2019 Lottoringo.</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <form name="salida" th:action="@{/logout}" method="post" id="formulario1"> </form>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <!--           <a class="btn btn-primary" href="login.html">Logout</a> -->
        <button class="btn btn-primary" type="submit" form="formulario1" value="Submit">Logout</button>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
<script th:src="@{/js/sha512.js}" src="js/sha512.js"></script> 
</body>

</html>
