<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link rel="icon" href="img/favicon.ico">

  <title>Winners Lottoringo</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<script type="text/javascript">
	
		function actualizarGanador(id){
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
			$.ajax({
                type: "PUT",
                url: window.location.href,
                data: {identificador:id},
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function(data, textStatus, jqXHR) {
                	alert("Processed Information.");
                	window.location.replace(window.location.href);
                },
                error: function(request, status, error) {
                    alert("Process impossible to complete.");
                }
            });
			
		
		}
	
	
	</script>



  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/dashboard}" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="img/icono.png" width="50px">
        </div>
        <div class="sidebar-brand-text mx-3">Lottoringo</div>
      </a>

      
      <!-- Heading -->
      <div class="sidebar-heading">
        Menú
      </div>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard}" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
        </li>

        
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item inactive">
          <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa fa-users"></i>
            <span>Users</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" th:href="@{/applications}" href="users-app.html"><span><i class="fas fa-mobile-alt"></i></span> Aplications</a>
              <a class="collapse-item" th:href="@{/administrations}" href="users-admin.html"><span><i class="fas fa-users-cog"></i></span> Administrator</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - Raffes  Menu -->
        <li class="nav-item ">
          <a class="nav-link" th:href="@{/raffles}" href="raffles.html">
           <i class="fa fa-cubes"></i>
           <span>Raffles</span>
         </li>

         <!-- Divider -->
         <hr class="sidebar-divider">

         <!-- Nav Item - Pages Collapse Menu -->

         <li class="nav-item active">
          <a class="nav-link collapsed" th:href="@{/winners}" href="winners.html">
            <i class="fa fa-trophy"></i>
            <span>Winners</span>
          </a>

        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/notifications}" href="send-noti.html">
            <i class="fas fa-comments"></i>
            <span>Send Notifications</span></a>
          </li>


          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>

              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">


                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter" th:text="${cantidadGanadoresPagosPendiente}">0+</span>
                  </a>
                  
                  <!-- Dropdown - Alerts -->
                  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                      Alerts Center
                    </h6>
                   <a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-primary">
                          <i class="fas fa-file-alt text-white"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500" th:text="${#calendars.format(fechaActual,'MMMM dd,yyyy')}">December 12, 2019</div>
                        <span class="font-weight-bold">Welcome to the job...!!!</span>
                      </div>
                    </a>
                    <a th:if="${cantidadGanadoresPagosPendiente > 0}" class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-success">
                          <i class="fas fa-donate text-white"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500" th:text="${#calendars.format(fechaActual,'MMMM dd,yyyy')}">December 7, 2019</div>
                        <p th:inline="text">[[${cantidadGanadoresPagosPendiente}]] Pending payments</p>
                      </div>
                    </a>
                    <a th:if="${sinCuentaPaypal > 0}" class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-warning">
                          <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500" th:text="${#calendars.format(fechaActual,'MMMM dd,yyyy')}">December 2, 2019</div>
                         <p th:inline="text">[[${sinCuentaPaypal}]] Users without paypal account</p>
                      </div>
                    </a>
                    
                    <a class="dropdown-item text-center small text-gray-500" th:href="@{/winners}" href="winners.html">Show All Alerts</a>
                  </div>
                  
                </li>

                

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                 <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${RolUsuario}">Rol User</span>
                    <img class="img-profile rounded-circle" th:src="@{${FotoPefil}}" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      <h8 class="mb-5" th:text="${Usuario}" align="center" >User</h8>
                    </a>
                    <a class="dropdown-item" th:href="@{/reset}" href="update-pass.html">
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Update Password
                    </a>


                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Sign Out..!!!
                    </a>
                  </div>
                </li>

              </ul>

            </nav>
            <div class="container">

              <!-- Outer Row -->


              <div class="card o-hidden border-0 shadow-lg my-5">        
                <div class="content-wrapper">
                  <div class="page-header">
                    <h3 class="page-title" style="color: blue;">

                    </h3>
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4"><i class="fa fa-list  text-gray-800"></i> List Winners</h1>
                      <hr>
                    </div>
                  </div>
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <section class="section-padding" id="tabla-estilistas">
                          <div class="row">
                            <div class="col-12 grid-margin">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Winners</h4>
                                  <div class="table-respo.nsive">
                                    <table  id="estilistasUsuario" class="table">
                                      <thead>
                                        <tr>
                                          <th>
                                            User
                                          </th>
                                          <th>
                                            Ticket
                                          </th>
                                          <th>
                                            Money
                                          </th>
                                          <th>
                                            Date
                                          </th>
                                          <th>
                                            Paypal
                                          </th>
                                          <th>
                                            Paid Out
                                          </th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                       <tr th:each="ganadores : ${listaGanadores}">
                                         <td>
                                          <img th:src="@{${ganadores.boletos.usuarios.imagen}}" src="img/faces/face16.jpg" width="50" height="50" style="vertical-align:middle"/>
                                          &nbsp;&nbsp;
                                          <span th:text="${ganadores.boletos.usuarios.nombreUsuario}">Juan Ramos</span>
                                        </td>               
                                        <td class="align-middle">
                                          <label class="badge badge-pill badge-primary"
                                          th:text="${#strings.concat(
                                          #numbers.formatDecimal(ganadores.boletos.bola1,2,0),' - ',
                                          #numbers.formatDecimal(ganadores.boletos.bola2,2,0),' - ',
                                          #numbers.formatDecimal(ganadores.boletos.bola3,2,0),' - ',
                                          #numbers.formatDecimal(ganadores.boletos.bola4,2,0),' - ',
                                          #numbers.formatDecimal(ganadores.boletos.bola5,2,0),' - ',
                                          #numbers.formatDecimal(ganadores.boletos.bolaSuerte,2,0) 
                                          )}"
                                          >01-32-06-32-45-22</label>

                                        </td>
                                        <td class="align-middle">
                                         <label th:text="${#strings.concat(#numbers.formatDecimal(ganadores.acreditado,1,3,'COMMA'),' ','$')}">10,0 $</label>
                                       </td>

                                       <td class="align-middle"> 

                                        <span th:text="${#calendars.format(ganadores.boletos.sorteos.fechaSorteo,'MM/dd/yyyy')}">10/04/2019</span>

                                      </td>
                                      <td class="align-middle">
                                        <span th:text="${ganadores.boletos.usuarios.paypal.correo}">jugador@gmail.com</span>
                                      </td>

                                      <td th:switch="${ganadores.status}" class="align-middle">
<!--                                         <span th:case="true" class="badge badge-success">Paid</span> -->
                                        <button th:case="false" type="button" class="btn btn-warning" 
                                        		th:onclick="'javascript:actualizarGanador('+${ganadores.idGanadores}+');'">$$$</button>
                                      </td>
                                    </tr>

                                  </tbody>
                                </table>
                              </div>
<!--                               <div th:if="${#lists.size(listaGanadores) >= 30}"  -->
<!--                                 th:with="divisor = 30, -->
<!--                                 pagina = 0,  -->
<!--                                 lg = ${listaGanadores.size % divisor == 0} ? ${listaGanadores.size/divisor} : ${listaGanadores.size/divisor+1}" -->
<!--                                 > -->

<!--                                 <ul class="pagination pagination-sm justify-content-center"> -->

<!--                                  <li class="page-item"> -->
<!--                                   <a class="page-link" href="#tabla-estilistas" -->
<!--                                   th:onclick="'javascript:indiceEstilistas(-1,'+${lg}+');'">Atras</a> -->
<!--                                 </li> -->

<!--                                 <li th:id="estilistasPagina+${pagina}" class="page-item" -->
<!--                                 th:each="pagina : ${#numbers.sequence(1,lg)}" -->
<!--                                 th:class="${pagina == 1} ? 'page-item active':'page-item'"> -->

<!--                                 <a class="page-link"  -->
<!--                                 href="#tabla-estilistas"  -->
<!--                                 th:onclick="'javascript:indiceEstilistas('+${pagina}+','+${lg}+');'"  -->
<!--                                 th:text="${pagina}" >0</a> -->

<!--                               </li> -->

<!--                               <li class="page-item"> -->
<!--                                <a class="page-link" href="#tabla-estilistas" -->
<!--                                th:onclick="'javascript:indiceEstilistas(0,'+${lg}+');'">Siguiente</a> -->
<!--                              </li>                      -->
<!--                            </ul>  -->

<!--                          </div> -->
                       </div>
                     </div>
                   </div>
                 </div>	
               </section>

             </div>


             <!-- /.container-fluid -->

           </div>
           <!-- End of Main Content -->

           <!-- Footer -->
           <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span> &copy; 2019 Lottoringo.</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <form name="salida" th:action="@{/logout}" method="post" id="formulario1"> </form>
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <!--           <a class="btn btn-primary" href="login.html">Logout</a> -->
              <button class="btn btn-primary" type="submit" form="formulario1" value="Submit">Cerrar Sesión</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Bootstrap core JavaScript-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="js/sb-admin-2.min.js"></script>

    </body>

    </html>
